<nav class="flex items-center 
justify-between flex-wrap bg-gradient-to-r from-emerald-700 from-20% to-emerald-950 to-90% p-4 lg:h-20">
  <div class="flex items-center flex-shrink-0 text-emerald mr-6">
    <a routerLink="">
      <h1 class="text-emerald-500 text-5xl">Pic Topic</h1>
    </a>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-emerald-500 border-emerald-500 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-80">
    <div class="text-md lg:flex lg:flex-grow justify-end">
      @if(!isLogged){
        <button class="
        hover:bg-emerald-900 border-2 hover:border-emerald-400
        bg-emerald-800
        w-32  md:mt-3 lg:mr-3 rounded-xl px-6 py-1 flex items-center justify-center">
            <a routerLink="sign-up" class="
            block text-center lg:inline-block lg:mt-0 text-white ">
            Sign Up
          </a>
        </button>
        <button class="w-32 hover:bg-emerald-900 border-2 hover:border-emerald-400
        bg-emerald-800 lg:mr-3  md:mt-3 rounded-xl px-6 py-1 flex items-center justify-center">
          <a routerLink="sign-in" class="
          block text-center lg:inline-block lg:mt-0 text-white">
          Sign In
        </a>
      </button>
      }
      @else {
        <button class="w-32 hover:bg-emerald-900 border-2 hover:border-emerald-400
        bg-emerald-800 lg:mr-3  md:mt-3 rounded-xl px-6 py-1 flex items-center justify-center">
          <a routerLink="sign-in" class="
          block text-center lg:inline-block lg:mt-0 text-white">
          Logout
        </a>
      </button>
      }

    </div>
  </div>
</nav>
<!-- #332885 -->