<section class="
flex flex-col w-fit h-full items-center justify-center px-6 py-6 b
bg-gradient-to-r from-emerald-700 from-0% to-emerald-900 to-90%
border-2 border-emerald-300
mt-10

rounded-lg">
    <h2 class="my-4 font-mono text-white text-xl">{{h2Text}}</h2>
    <form class="flex flex-col my-2" 
        [formGroup]="signForm" (ngSubmit)="handleSubmit($event)">
        <div class="text-md mx-2 my-2">
            <label class="text-white" for="email">Email </label>
            <input class="mt-1" id="email" type="text" formControlName="email">

        </div>
        @if(isSignUp){
            <div class="text-md mx-2 my-2" >
                <label class="text-white" for="username">Username </label>
                <input class="mt-1" id="username" type="text" formControlName="username">
            
            </div>
        }
        <div class="text-md mx-2 my-2">
            <label class=" text-white" for="password">Password </label>
            <input class="mt-1" id="password" type="password" formControlName="password">
        </div>

        <button class="py-2 hover:bg-emerald-900 border-2 hover:border-emerald-400
         bg-emerald-500 self-center text-white mb-2 mt-4 rounded-xl w-48" type="submit">
            {{buttonText}}
        </button>
    </form>
</section>

