<section class="
flex flex-col mx-5 w-fit h-full items-center justify-center px-6 py-6 b
bg-gradient-to-r from-slate-900 from-0% to-slate-900 to-90%
border-2 border-emerald-500
mt-24 rounded-lg">
    <h2 class="my-4 font-mono text-white text-xl">{{h2Text}}</h2>
    <form class="flex flex-col my-2" 
        [formGroup]="signForm" (ngSubmit)="handleSubmit($event)">
        <div class="flex flex-col text-md mx-2 my-2 pr-5">
            <label class="text-white" for="email">Email </label>
            <input class="mt-1 w-72 " id="email" type="text" formControlName="email">

        </div>
        @if(isSignUp){
            <div class="text-md mx-2 my-2 flex flex-col " >
                <label class="text-white" for="username">Username </label>
                <input class="mt-1 w-72" id="username" type="text" formControlName="username">
            
            </div>
        }
        <div class="text-md ml-2 my-2 flex flex-col ">
            <label class=" text-white" for="password">Password </label>
                <section class="flex">
                    <input class="mt-1 w-72" id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
                    <button class="text-white" type="button" (click)="togglePassword()">
                        <img 
                            class="w-4 h-4 text-white ml-3"
                            [src]="showPassword ? './assets/hide_password.svg' : './assets/show_password.svg'" />
                    </button>
                </section>

        </div>
        <button class="py-2 hover:bg-emerald-900 border-2 hover:border-emerald-400
        bg-gradient-to-r from-slate-900 from-20% to-slate-950 to-90% self-center text-white mb-2 mt-5 rounded-xl w-48" type="submit">
            {{buttonText}}
        </button>
    </form>
    <button 
        (click)="signInWithGoogle()"
        class=" flex items-center bg-gradient-to-r from-slate-900 from-20% to-slate-950 to-90% 
    py-2 px-5 mt-5 text-slate-200 self-center rounded-xl border-slate-200 border-2">
    <img class="w-4 h-4 mr-3" src="./assets/google.svg" > Continue with Google 
    </button>
</section>

