<div class="w-2/3 z-50 fixed   
    rounded-xl border-emerald-500 border-2 shadow-xl 
    bg-gradient-to-r from-emerald-950 from-20% to-slate-950 to-90%
    animate-show
    left-20 h-2/4 mt-0 overflow-scroll top-1/4 p-8
    md:overflow-hidden md:top-1/3 md:left-32 md:h-auto
    lg:overflow-hidden lg:top-1/3 lg:left-48 lg:h-auto
    xl:left-96
    ">
    <section class="mt-2 mb-4">
        <h2 class="text-4xl text-slate-200 font-bold">Welcome!</h2>
    </section>
    <section class="text-slate-200 text-lg my-5">
        <p>
            Pictopic is a 
            platform that unveils a new topic every day, 
            inviting users to share their favorite images related to that specific 
            theme. Each user has the opportunity to upload one image per day, 
            which will be automatically removed the following day. 
        </p>
        <p class="mt-2">
            Registration is required for uploading content. 
            However, users can freely engage with the community by liking and appreciating the curated content without the need for registration.
        </p>
    </section>
    <section 
        class="flex items-center justify-center mt-10">
        <button 
            (click)="close()"
            class="bg-slate-900 w-48 px-5 py-3 rounded-2xl text-slate-200
            border-emerald-500 border-2 hover:bg-emerald-950">
            Done!
        </button>
    </section>
</div>