
<div class="container mx-auto py-4">
    <section class="flex flex-col items-center 
    text-white ">
        <h2 class="text-5xl my-5 text-transparent font-mono 
            bg-gradient-to-r from-slate-100 from-20% to-slate-300 to-90%
            bg-clip-text font-bold">
            Today's topic
        </h2>
        <span class="mb-10 bg-gradient-to-r from-emerald-900 from-20% to-slate-900 to-90%
        px-24 py-2 rounded-2xl font-mono
           animate-fade">
            <h3 class="text-4xl text-slate-200">
                {{topicService.topicOfTheDay?.['topic']}}
            </h3>
        </span>
        <span class="mb-10 bg-gradient-to-r from-emerald-900 from-20% to-slate-900 to-90%
        px-6 py-2 rounded-2xl font-mono
           animate-fade">
            <h3 class="text-md text-center text-slate-200">
                {{topicService.topicOfTheDay?.['phrase']}}
            </h3>
        </span>
    </section>
    <section  [ngClass]="showDetail ? 'blur-xl' : null" class="grid grid-cols-1 ml-5 gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        @for (pic of picturesToShow; track pic.username){
            <album 
                class="animate-fade"
                [username]="pic.username"
                [imageSrc]="pic.url"
                [description]="pic.description"
                [createdAt]="pic.createdAt"
                [likes]="pic.likes"
                [topic]="pic.topic"
                (likePicture)="likePicture($event)"
                (showDetail)="toggleDetail($event)"
            >
            </album>
        }   
    </section>
    @if (showDetail) {
        <picture-detail 
            [picture]="selectedPicture"
            (closeDetail)="toggleDetail()"
            (likePicture)="likePicture($event)"
        >
        </picture-detail>
    }
</div>